body {
	background: #eee;

}

#card {
	background: white;
	position:fixed;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 300px;
	//border: 1px solid black;
	padding: 20px;
	margin-top: -150px;
	margin-left: -250px;
	
	-webkit-box-shadow: 11px 11px 17px -6px rgba(89,89,89,1);
	-moz-box-shadow: 11px 11px 17px -6px rgba(89,89,89,1);
	box-shadow: 11px 11px 17px -6px rgba(89,89,89,1);
}

#cardData {
	font-size: 2.5em;
	color: #333;
	text-align: center;
	line-height: 300px;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
}
